<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.login %> - Profile | GameMoon</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon/favicon-16x16.png">

</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="/"><img src="/public/images/logo.png" alt="GameMoon Logo"></a>
                <a href="/">GameMoon</a>
            </div>
            <div class="nav-links">
                <a href="/about">About</a>
                <a href="/download">Download</a>
                <a href="/index">News</a>
    
                <% if (user) { %>
                    <a href="/users/profile">Profile</a>
                    <a href="/auth/logout">Logout</a>
                <% } else { %>
                    <a href="/auth/login">Login</a>
                    <a href="/auth/register">Register</a>
                <% } %>
            </div>
        </nav>
    </header>

    <main>
        <div class="bout-container">
            <div class="bout-content">
                <section class="profile-section">
                    <h1>Welcome, <%= user.login %></h1>
                    <h3>Email:</h3>
                    <p> <%= user.email %></p>

                    <% if (error) { %> 
                        <p class="error-message"><%= error %></p>
                    <% } %>

                    <div class="rename-form">
                        <h2>Rename Your Username</h2>
                        <form action="/users/profile/" method="POST">
                            <label for="newLogin">New Username:</label>
                            <input type="text" id="newLogin" name="newLogin" value="<%= user.login %>" required>
                            <button type="submit">Change Username</button>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </main>

    <footer>
        <p style="text-align: center; padding: 10px;">© 2025 GameMoon. All rights reserved.</p>
    </footer>
</body>
</html>
